<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Intro SE331</title>
    <!-- Import Styles -->
    <link rel="stylesheet" href="./assets/styles.css" />
    <!-- Import Vue.js -->
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>

<body>
    <div id="app">
        <header>
            <div class="nav-bar">
            </div>
            <div class="cart">
                <strong>Cart:</strong>
                <template v-if="cart.length === 0">
                    <span>Your cart is empty.</span>
                </template>
                <template v-else>
                    <ul>
                        <li v-for="(count, id) in productCounts" :key="id">
                            Product {{ id }}: <strong>{{ count }}</strong>
                        </li>
                    </ul>
                </template>
            </div>
        </header>
        <product-display :premium="premium" @add-to-cart="updateCart" @remove-from-cart="remove"></product-display>
    </div>

    <!-- Import Js -->
     <script src="./components/ProductDetails.js"></script>
      <script src="./components/reviewForm.js"></script>
     <script src="./components/ProductDisplay.js"></script>
    <script src="./main.js"></script>
</body>

</html>